# EPSY 5122: Programming for Social Science Researchers
## Week 11
### Thursday, November 18, 2021

In [2]:
import numpy.random as npr
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.formula.api as smf

In [3]:
mov = pd.read_csv('in_data/tmdb_5000_movies.csv')

In [4]:
mov.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

**Challenge 1**: *Find the descriptive stats for each numeric column.*

In [16]:
# challenge 1 code here
mov[['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count']].describe()

,budget,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

**Challenge 2**: *: Find which columns have missing data (and how many missing data)*

In [11]:
# challenge 2 code here
mov.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [19]:
mov2 = mov.drop(['homepage', 'tagline'], axis=1)

In [20]:
mov2.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [22]:
mov3 = mov2.dropna().reset_index(drop=True)

In [24]:
mov3[['revenue']].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
revenue,4799.0,8.232920e+07,1.629076e+08,0.0,0.0,19184015.0,92956519.0,2.787965e+09

In [29]:
mov3[['revenue', 'budget', 'title']]

         revenue     budget                                     title
0     2787965087  237000000                                    Avatar
1      961000000  300000000  Pirates of the Caribbean: At World's End
2      880674609  245000000                                   Spectre
3     1084939099  250000000                     The Dark Knight Rises
4      284139100  260000000                               John Carter
...          ...        ...                                       ...
4794     2040920     220000                               El Mariachi
4795           0       9000                                 Newlyweds
4796           0          0                 Signed, Sealed, Delivered
4797           0          0                          Shanghai Calling
4798           0          0                         My Date with Drew

[4799 rows x 3 columns]

In [30]:
mov4 = mov3[(mov3.budget>0) & (mov3.revenue>0)]

In [32]:
mov4.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,3.229000e+03,3229.000000,3229.000000,3.229000e+03,3229.000000,3229.000000,3229.000000
mean,4.065444e+07,44780.705791,29.033689,1.212430e+08,110.724373,6.309353,977.287395
std,4.439674e+07,74609.434723,36.165730,1.863029e+08,20.965694,0.873891,1414.309577
min,1.000000e+00,5.000000,0.019984,5.000000e+00,41.000000,0.000000,0.000000
25%,1.050000e+07,4958.000000,10.446722,1.700000e+07,96.000000,5.800000,178.000000
50%,2.500000e+07,11451.000000,20.410354,5.518472e+07,107.000000,6.300000,471.000000
75%,5.500000e+07,45272.000000,37.335721,1.462920e+08,121.000000,6.900000,1148.000000
max,3.800000e+08,417859.000000,875.581305,2.787965e+09,338.000000,8.500000,13752.000000

In [36]:
mov4.sort_values(by='revenue').head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
3371,7,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",13006,"[{""id"": 3528, ""name"": ""flooding""}, {""id"": 9685...",en,Split Second,"In a futuristic London, the rising sea levels ...",4.857028,"[{""name"": ""Entertainment"", ""id"": 7676}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",1992-05-01,5,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Split Second,5.7,63
3418,7,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",38415,"[{""id"": 4344, ""name"": ""musical""}, {""id"": 18705...",en,Bran Nue Dae,In the Summer of 1965 a young man is filled wi...,0.050456,[],[],2009-08-09,7,82.0,[],Released,Bran Nue Dae,5.2,6
3874,2000000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",108346,"[{""id"": 14794, ""name"": ""lust""}, {""id"": 160780,...",en,Dreaming of Joseph Lees,Set in rural England in the 1950s Eva (Samanth...,0.116150,"[{""name"": ""Fox Entertainment Group"", ""id"": 857...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",1999-10-29,7,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dreaming of Joseph Lees,8.0,1
2932,11,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",28932,[],en,F.I.S.T.,Johnny Kovak joins the Teamsters trade-union i...,3.375208,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1978-04-26,11,145.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,F.I.S.T.,6.4,29
3130,10,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",217708,"[{""id"": 2673, ""name"": ""horse""}, {""id"": 3373, ""...",is,Hross Ã­ oss,A country romance about the human streak in th...,1.617943,"[{""name"": ""Filmhuset Gruppen"", ""id"": 68384}, {...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}, {""iso...",2013-08-30,11,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Of Horses and Men,6.9,26